@import "settings";
@import "normalize";
@import "foundation";
@import "compass/layout.scss";
@include sticky-footer(17em, "#content", "#content-footer", "#footer");

header {
  padding: 30px;

  a, a:hover {
    color: #E74C3C;
  }
}

footer {
  margin-top: 30px;
  padding: 24px;
  background: #E74C3C;

  p, h5, a, a:hover {
    color: #e4e4e4;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}
code {
  background-color: #eef;
}

ul {
  list-style-position: inside;
}

figure {
  display: inline-block;
  figcaption {
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding: 10px 14px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
}
