<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/presentation.css">
    {% include head.html %}
  </head>
  <body>
    <header>
      <h1><a href="/">{{ site.name }}</a></h1>
    </header>

    <div class="row" id="content">
      {{ content }}
      <div id="content-footer"></div>
    </div>
    <footer id="footer">
      <div class="row">
        <div class="large-4 columns">
          <h5>About me</h5>
          <p>My given name is Eric. I <a href="/running">run</a>, <a href="/climbing">climb</a>, and program (mostly in Ruby and Javascript).</p>
          <p>This <a href="https://github.com/et/et.github.io">website</a> is about things I enjoy and this <a href="http://vimeo.com/72019908">video</a> rules.</p>
          <p>I am available for <a href="mailto:eric.l.m.thomas@gmail.com">hire</a>.</p>
        </div>
        <div class="large-7 large-offset-1 columns">
          <h5>Around the web</h5>
          <p>
            <a href="http://github.com/et/">Github</a> |
            <a href="http://www.goodreads.com/user/show/13570008-eric-thomas">Goodreads</a> |
            <a href="http://www.flickr.com/photos/95201160@N04/sets">Flickr</a> |
            <a href="https://www.facebook.com/eric.l.m.thomas">Facebook</a><br />
          </p>
        </div>
      </div>
    </footer>

    {% for script in page.scripts %}
      <script src="{{ script }}" charset="utf-8"></script>
    {% endfor %}

  </body>
</html>
